<div class="content">
    <div class="et-shop">
        <div class="et-shop-header">
            <div class="et-shop-title">Easy Time</div>
            <div class="et-shop-logo">
                <img src="modules/Index/static/image/index/logo.jpg" alt="" width="80" height="80"/>
            </div>
        </div>
        <div class="et-shop-content">
            <ul class="clearfix">
                <li><i class="fa fa-user"></i></br>我的订单</li>
                <li><span>5</span></br>上新商品</li>
                <li><span>35</span></br>全部商品</li>
            </ul>
        </div>
    </div>
    <div class="lead-title">
    </div>
    <!--<div class="shop-goods-new">
        <div class="goods-new-title">
            <h2>新上商品</h2>
            <ul class="goods-new-info">
                <li>
                    <a href="">
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li></li>
            </ul>
        </div>
    </div>-->
    <div class="goods-show">
        <h4>热卖商品</h4>
        <ul class="clearfix">
            <li>
                <div class="goods-pic"><a href="#goodsDetail"><img src="modules/Index/static/image/index/goods-1.jpg" alt="" width="100%"></a></div>
                <h5>秘制炒板栗</h5>
                <div class="goods-price">￥12.00/斤<i class="fa fa-shopping-cart shopping-car"></i></div>
            </li>
            <li>
                <div class="goods-pic"><a href=""><img src="modules/Index/static/image/index/goods-1.jpg" alt="" width="100%"></a></div>
                <h5>秘制炒板栗</h5>
                <div class="goods-price">￥12.00/斤<i class="fa fa-shopping-cart shopping-car"></i></div>
            </li>
            <li>
                <div class="goods-pic"><a href=""><img src="modules/Index/static/image/index/goods-1.jpg" alt="" width="100%"></a></div>
                <h5>秘制炒板栗</h5>
                <div class="goods-price">￥12.00/斤<i class="fa fa-shopping-cart shopping-car"></i></div>

            </li>
        </ul>
    </div>
    <div class="shop-nav clearfix">
        <div class="nav-item">
            <a href=""><i class="fa fa-home"></i></a>
        </div>
        <div class="nav-item">
            <a href="">全部商品</a>
        </div>
        <div class="nav-item">
            <a href="">购物车</a>
        </div>
        <div class="nav-item">
            <a href="">我的订单</a>
        </div>
    </div>

</div>
